.navbar {
  display: flex;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.7);
  height: 15%;
}
.logo {
  width: 15%;
}
.logo img {
  height: 90px;
  width: 100p;
}
.list {
  width: 70%;
  position: absolute;
  margin-left: 25%;
}
.list ul {
  display: flex;
  justify-content: space-between;
  justify-items: flex-end;
  list-style-type: none;
  padding: 20px 0px;
  margin-left: 30%;
  font-size: 20px;
}
